<div class="user_show">
  <%= @name %>さんの投稿一覧
</div>
<div class="Main">
  <% @events.each do |event| %>
    <%= render partial: "events/event", locals: { event: event } %>
  <% end %>

<%= render partial: "calender", locals: { events: @events } %>
</div>