<div class="Main">
  <% @records.each do |record| %>
    <%= render partial: "record", locals: { record: record } %>
  <% end %>

  <div class="NewBtn" id="NewRecordBtn">
    <i class="far fa-edit"></i>

  </div>

  <div id="calendar" class="calender hidden">
    <div class="Cancel">
        <i class="far fa-times-circle"></i>
      </div>    
  </div>

</div>

<div class="NewRecord" id="NewRecord">
  <div class="NewRecord＿Box">
    <div class="Cancel" id="Cancel">
      <i class="far fa-times-circle"></i>
    </div>    
    <h1>トレーニングを記録する</h1>
    <div class="NewRecord＿Box＿Form">
      <%= form_with(model: @record, local: true, url: "/records") do |form| %>
        <%= render partial: "form", locals: { form: form } %>
      <% end %>
    </div>
  </div>
</div>

<a href="#" id="btn_scroll_top"></a>





