<div class="nested-fields">
  <%= f.hidden_field :id %>
  <%= f.text_field :number, :placeholder => "何kg？", :size => "7*30" %>
  <%= f.text_field :rep , :placeholder => "何回？", :size => "7*30" %>
  <%= link_to_remove_association '削除', f, class: 'btn btn-default' %>

</div>