<div class="nested-fields">
  <%= f.hidden_field :id %>
  <%= f.collection_select :number, f.object.selectable_menus, :number, :number, prompt: "何kg？", class: 'form-control' %>
  <%= f.collection_select :rep, f.object.selectable_menus, :rep, :rep, prompt: "何回？", class: 'form-control' %>
  <%= link_to_remove_association '削除', f, class: 'btn btn-default' %>

</div>