<div class="Main">
  <% @events.each do |event| %>
    <%= render partial: "event", locals: { event: event } %>
  <% end %>

<%= link_to  new_event_path , id: "NewRecordBtn", class:"NewBtn" do %>
  <i class="far fa-edit"></i>
<% end %>

</div>

<a href="#" id="btn_scroll_top"></a>
