<div class="NewRecord" id="NewRecord">
  <div class="NewRecord＿Box"> 
    <h1>トレーニングを記録する</h1>
    <div class="NewRecord＿Box＿Form">
      <%= render 'form', path: events_path, method: :post, event: @event %>
    </div>
  </div>
</div>