@media screen and (max-width:639px) {
  /*スマホ用のcssを記述*/
  .won-logo{
    display: none;
  }
  
// 初期画面

.start #start-logo {
  position: absolute;
  top:50%;
  width: 50%;
  width: 300px;
  height: 300px;
}
// 本文

.Header{
  height: 50px;
  padding: 20px;
  &__MyImg{
    height: 30px;
    width: 30px; 
  }
  &__Logo{
    height: 40px;
    width: 40px;
  }
}

.Footer{
  height: 50px;
  padding: 15px;
  font-size: 25px;
}

.Main{
  padding:50px 0;
  .Content{
    &__MyImg{
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }
.welcome{
  font-size: 50px;
  color: green;
  line-height: 300px;
  font-weight: bold;
}
.caption{
  top: 25%;
}
.caption h1{
  font-size: 3rem;
}
.caption h3 {
  font-size: 1.5rem;
}
.icon{
  width: 300px;
}
  // 以下ボタン系
  .NewBtn{
    font-size: 25px;
    border-radius: 50%;
    height: 65px;
    line-height: 65px;
    width: 65px;
    bottom: 70px;
    right: 20px;
  }
}
#btn_scroll_top {
  right:50% ;
  bottom: 65px;
}
// 投稿画面
.NewRecord{
  padding:60px 10px 60px 10px !important;
}
.NewRecord＿Box{
  padding: 5px !important;
  h1{
    font-size: 18px !important;
    padding: 5px;
  }
  .Date_form{
    flex-direction: column;
  }
}
#text{
  width: 100%;
}
#Newrecord{
  height: 50px;
  width: 170px;
  border-radius: 10px;
  &:hover{
    background-color: rgb(98, 151, 114);
  }
}
// イベント詳細画面
.Show{
  padding-top: 50px !important;
  .Content{
    &__MyImg{
      height: 60px !important;
      width: 60px !important;
    }
    &__Body{
      &__Info{
        &__Name{
          font-size: 26px !important;
          line-height: 60px !important;
        }
        &__Date{
          font-size: 10px !important;
        }
        &__Option{
          font-size: 14px !important;
          top: 70px !important;
          right: 5px !important;
        }
      }
    }
  }
  &__Main{
    padding: 0 10px 0 10px !important;
    &__Title{
      h1{
        font-size: 30px !important;
      }
    }
    &__Menu{
      font-size: 14px !important;
    }
  }
  &__Like{
    margin: 0 5px !important;
    font-size: 12px !important;
    > h3, h2, input{
      margin-bottom: 5px !important;
    }
    input{
      padding: 8px !important;
    }
  }
}
// ユーザー検索
.UsersIndex{
  font-size: 20px;
  text-align: center;
  .User-search{
    margin: 5px auto !important;
    width: 300px;
  }
  width: 100% !important;
  margin: 0 auto;
  table{
    width: 90% !important;
  }
}
// ユーザー詳細

.User{
  padding-bottom: 0 !important;
  &__Profile{
    display: flex;
    flex-direction: column !important;
    &__Img{
      border-radius: 50%;
      height: 80px !important;
      width: 80px !important;
    }
    &__Name{
      font-size: 40px !important;
      line-height: 40px !important;
    }
    &__Info{
      display: flex;
      justify-content: flex-start !important;
      align-items: flex-start !important;
      flex-direction: column;
      margin-top: 5px;
      &__Date{
        font-size: 12px !important;
        margin-top: 5px;
      }
      &__Follow{
        font-size: 20px !important;
        margin-top: 5px;
        .stats{
          margin-top: 10px !important;
          margin-bottom: 5px !important;
        }
      }
    }
    
  }
  
}
.tab li{
  font-size: 14px !important;
  padding: 5px !important;
}

.container.comment-form{
  position: fixed;
  padding-bottom: 5px;
  bottom: 50px;
  background-color: black;
}










  }