.NewRecord{
  padding:110px 50px 110px 50px;
  height: 100% ;
  width: 100%;
  z-index: 1;
  background-color: rgba($color: #000000, $alpha: 0.8);
  color: #000;
  overflow: scroll;
}
.NewRecord＿Box{
  background-color: rgb(219, 219, 219);
  padding: 0 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  .Date_form{
    display: flex;
  }
  .Cancel{
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    &:hover{
      color: white;
      cursor: pointer;
    }
  }
  h1{
    text-align: center;
    font-size: 30px;
  }
  &_Form{
    width: 100%;
    height: 100%;
  }
}
#text{
  width: 100%;
}
#Newrecord{
  height: 50px;
  width: 150px;
  border-radius: 10px;
  color: white;
  background-color: green;
  &:hover{
    background-color: rgb(98, 151, 114);
  }
}