.Show{
  width: 100%;
  background-color: black;
  height: 100%;
  padding: 100px 0 100px 0;
  .Content{
    display: flex;
    padding: 15px;
    color: white !important;
    background-color: black;
    border-top: 1px solid gray;
    &:hover{
      background-color: rgba($color: #292929, $alpha: 0.7);
    }
    &__MyImg{
      border-radius: 50%;
      height: 80px;
      width: 80px;
    }
    &__Body{
      padding-left: 10px;
      width: 100%;
      &__Info{
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        &__Name{
          font-size: 40px;
          line-height: 80px;
        }
        &__Date{
          color: gray;
          font-size: 16px;
        }
        &__Option{
          position: absolute;
          font-size: 20px;
          top: 240px;
          right: 20px;
        }
      }
    }
  }
  &__Main{
    padding: 0 30px 0 30px;
    &__Title{
      h1{
        font-size: 40px;
        color: white;
      }
      
      margin-bottom: 20px;
      border-bottom: 1px solid rgba($color: #5f5f5f, $alpha: 1.0);
    }
    &__Body p{
      font-size: 22px;
      color: white;
      display: inline-block;
      margin-bottom: 20px;

    }
    &__Img{
      margin: 0 auto;
    }
  }
  &__Like{
    color: white;
    margin: 0 50px;
    font-size: 20px;
    > h3, h2, input{
      margin-bottom: 10px;
    }
    input{
      padding: 10px;
      border-radius: 5px;
      background-color: green;
      color: white;
      border: none;
      &:hover{
        opacity: 0.7;
      }
    }
  }
}
