/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fullcalendar
 *= require_tree .
 */


@import "reset";
@import "new";
@import "show";
@import "user";
@import "font-awesome-sprockets";
@import "font-awesome";

.Header{
  align-items: center;
  background-color: black;
  border-bottom: 1px solid gray;
  color: green;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;

  &__MyImg{
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
  &__Logo{
    font-size: 50px;
    font-family: cursive;
  }
}

.Footer{
  align-items: center;
  background-color: black;
  border-top: 1px solid gray;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 40px;
  a{
    color: green;
  }

}

.Main{
  color: white ;
  padding:100px 0;
  background-color: black;
  overflow: scroll;
  overflow:hidden;
  .show-link a{
    text-decoration: none;
  }
  .Content{
    display: flex;
    padding: 15px;
    color: white !important;
    background-color: black;
    border-top: 1px solid gray;
    &:hover{
      background-color: rgba($color: #292929, $alpha: 0.7);
    }
    &__MyImg{
      border-radius: 50%;
      height: 120px;
      width: 120px;
    }
    &__Body{
      padding-left: 10px;
      width: 100%;
      &__Info{
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        &__Name{
          font-size: 24px;
        }
        &__Date{
          color: gray;
        }
      }
    }
  }
  .NewBtn{
    font-size: 30px;
    color: black;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20%;
    text-align: center;
    height: 80px;
    line-height: 80px;
    width: 80px;
    position: fixed;
    bottom: 120px;
    right: 25px;
    cursor: pointer;
    
  }
}
.hidden{
  display: none;
}

